<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright from TernaryProject (c) 2022.
  ~ Author BenjaminThomasShellwe
  ~ Date 2022/3/28 8:56:24
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.shellwe.bip.system.mapper.BasicUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="top.shellwe.bip.system.entity.BasicUser.java">
		<id column="id" property="id" />
		<result column="userName" property="userName" />
		<result column="GID" property="GID" />
		<result column="enterpriseID" property="enterpriseID" />
		<result column="position" property="position" />
		<result column="userRealName" property="userRealName" />
		<result column="userPassword" property="userPassword" />
		<result column="avatarID" property="avatarID" />
		<result column="role" property="role" />
		<result column="created_at" property="created_at" />
		<result column="updated_at" property="updated_at" />
		<result column="token" property="token" />
	</resultMap>


    <select id="selectUsers" resultMap="BaseResultMap">
        SELECT
             *
        FROM User
        WHERE
             1 = 1
        <if test="filter.id!=null and filter.id!=''">
            AND	id= #{filter.id}
        </if>
		<if test="filter.username!=null and filter.username!=''">
			AND	username LIKE '%${filter.username}%'
		</if>
		<if test="filter.account!=null and filter.account!=''">
			AND	username = #{filter.account}
		</if>
        ORDER BY id DESC
    </select>

    <select id="selectUserByUsername" resultType="top.shellwe.bip.system.entity.BasicUser">
		SELECT
			*
		FROM t_sys_user
		WHERE 1 = 1
		<if test="username!=null and username!=''">
			AND	username = #{username}
		</if>
	</select>

    <select id="getUserInfoByToken" resultType="top.shellwe.bip.system.entity.BasicUser">
		SELECT
		*
		FROM t_sys_user
		WHERE 1 = 1
		<if test="token!=null and token!=''">
			AND	token = #{token}
		</if>
	</select>

	<select id="getUserInfoByQQ" resultType="top.shellwe.bip.system.entity.BasicUser">
		SELECT
		*
		FROM t_sys_user
		WHERE 1 = 1
		<if test="qq_oppen_id!=null and qq_oppen_id!=''">
			AND	qq_oppen_id = #{qq_oppen_id}
		</if>
	</select>

	<select id="selectUserByRoleId" resultType="top.shellwe.bip.system.entity.BasicUser">
        SELECT su.* FROM t_sys_user su
        LEFT JOIN t_sys_user_role sur ON su.id=sur.user_id
        WHERE sur.role_id = #{roleId}
    </select>

</mapper>
